 .tablero {
     display: flex;
     /* Habilita flexbox */
     flex-wrap: wrap;
     /* Permite que los elementos se envuelvan en la siguiente línea */
     width: 504px;
     /* Ajusta el ancho al 100% del contenedor padre */
     height: 336px;
     background-color: #642727;
     /* Color de fondo opcional */
 }

 .b {
     position: relative;
     height: 84px;
     width: 84px;
     background-image: url("../imagenes/tanque.png");
     background-repeat: no-repeat;
     background-position-x: -84px;
     background-position-y: -252px;
 }

 .p {
     position: relative;
     height: 84px;
     width: 84px;
     background-image: url("../imagenes/tanque.png");
     background-repeat: no-repeat;
     background-position-x: 0px;
     background-position-y: 0px;

 }

 .tk {
     height: 84px;
     width: 84px;
     background-image: url("../imagenes/tanque.png");
     background-repeat: no-repeat;
     background-position-x: -84px;
     background-position-y: -84px;
     left: 0px;
     top: 0px;
     z-index: 1;
     position:absolute;
 }