.navbar {
  margin: 5px auto;
  /* Color de fondo */
  border-bottom: 2px solid #9c0dd4;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Nav Links */

.nav-item .dropdown-menu {
  background-color: #d6bcdd;
  /* Fondo del menú desplegable */
  border: 1px solid #18011f;
}

/* Estilos para la tarjeta (card) */
.card {
  margin: 5px auto;
  /* Centrando la tarjeta */

}

/* Estilo para el encabezado de la tarjeta */
.card-header {

  font-size: 1.5rem;
  /* Tamaño de fuente grande */
  font-weight: bold;
  /* Negrita */
  padding: 10px 20px;
  /* Espaciado */

}

/* Estilo para el bloque de la cita (blockquote) */
.blockquote {
  color: #850068;
  /* Color de texto de la cita */
  padding-left: 15px;
  /* Espaciado para la cita */
  border-left: 5px solid #3a002c;
  /* Línea vertical azul a la izquierda */
}

/* Estilo para el "cite" dentro del pie de la cita */
.blockquote-footer cite {
  font-weight: bold;
  /* Negrita para el texto citado */
  color: #f100c9;
  /* Color azul */
}
