 
 .tablero{
            display: flex;
            flex-wrap: wrap;
            width: 672px;
            height: 756px;
            background-color: rgb(243, 0, 142);
            position: absolute;
        }

        .a {
            height: 84px;
            width: 84px;
            background-image: url("../imagenes/ttanque.png");
            background-repeat: no-repeat;
            background-position-x: 0px;
            background-position-y: -252px;
        }

        .b {
            height: 84px;
            width: 84px;
            background-image: url("../imagenes/ttanque.png");
            background-repeat: no-repeat;
            background-position-x: -84px;
            background-position-y: -252px;
        }

        .d {
            height: 84px;
            width: 84px;
            background-image: url("../imagenes/ttanque.png");
            background-repeat: no-repeat;
            background-position-x: -252px;
            background-position-y: -252px;
        }

        .e {
            height: 84px;
            width: 84px;
            background-image: url("../imagenes/ttanque.png");
            background-repeat: no-repeat;
            background-position-x: -336px;
            background-position-y: -252px;
        }

        .f {
            height: 84px;
            width: 84px;
            background-image: url("../imagenes/ttanque.png");
            background-repeat: no-repeat;
            background-position-x: -420px;
            background-position-y: -252px;
        }

        .g {
            height: 84px;
            width: 84px;
            background-image: url("../imagenes/ttanque.png");
            background-repeat: no-repeat;
            background-position-x: -504px;
            background-position-y: -252px;
        }

        .h {
            height: 84px;
            width: 84px;
            background-image: url("../imagenes/ttanque.png");
            background-repeat: no-repeat;
            background-position-x: -588px;
            background-position-y: -252px;
        }


        .p {
            height: 84px;
            width: 84px;
            background-image: url("../imagenes/ttanque.png");
            background-repeat: no-repeat;
            background-position-x: 0px;
            background-position-y: 0px;
        }

        .tk1 {
            height: 84px;
            width: 84px;
            background-image: url("../imagenes/ttanque.png");
            background-repeat: no-repeat;
            background-position-x: -84px;
            background-position-y: -84px;
            left: 84px;
            top: 0px;
            z-index: 1;
            position: absolute;
        }

        .kt2 {
            height: 84px;
            width: 84px;
            background-image: url("../imagenes/ttanque.png");
            background-repeat: no-repeat;
            background-position-x: 0px;
            background-position-y: -84px;
        }