
.container-fluid{
    background-color: rgb(206, 240, 195);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(230, 194, 169);
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 10px;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(188, 188, 231);
    background-color: rgb(231, 165, 165);
    margin-right: 100px;
    margin-left: 100px;
}
.card{
   
 font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(207, 196, 247);
    background-color: rgb(243, 206, 243);
    margin-right: 100px;
    margin-left: 100px;
}
/*
Botones
Footer
Tarjetas (.card)
Carrusel
Navegación (nav)
Cuerpo de la página (body)
*/