.tablero {
    display: flex; 
    /*Habilita el flex:*/
    flex-wrap: wrap; 
    /* Permite que los elementos se ajusten a nuevas filas si es necesario */
    width: 840px;
    /*Ajusta al ancho al 100% del contenedor padre*/
    height: 672px;
    background-color: rgb(2, 100, 40);
    /*Color fondo*/
}
/*1ra mitad, pared uno*/
.a{
    position: relative;
    height: 84px;
    width: 84px;
    background-image: url("../imagenes/tanque.png");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -252px;
}
/*2da mitad, pared uno*/
.aa{
    position: relative;
    height: 84px;
    width: 84px;
    background-image: url("../imagenes/tanque.png");
    background-repeat: no-repeat;
    background-position-x: -84px;
    background-position-y: -252px;
}
/*pared 2*/
.b{
    position: relative;
    height: 84px;
    width: 84px;
    background-image: url("../imagenes/tanque.png");
    background-repeat: no-repeat;
    background-position-x: -168px;
    background-position-y: -252px;
}
/*1ra mitad, pared tres*/
.c{
    position: relative;
    height: 84px;
    width: 84px;
    background-image: url("../imagenes/tanque.png");
    background-repeat: no-repeat;
    background-position-x: -252px;
    background-position-y: -252px;
}
/*2da mitad, pared tres*/
.cc{
    position: relative;
    height: 84px;
    width: 84px;
    background-image: url("../imagenes/tanque.png");
    background-repeat: no-repeat;
    background-position-x: -420px;
    background-position-y: -252px;
}
/*pared cuatro*/
.d{
    position: relative;
    height: 84px;
    width: 84px;
    background-image: url("../imagenes/tanque.png");
    background-repeat: no-repeat;
    background-position-x: -336px;
    background-position-y: -252px;
}
/*pared cinco*/
.e{
    position: relative;
    height: 84px;
    width: 84px;
    background-image: url("../imagenes/tanque.png");
    background-repeat: no-repeat;
    background-position-x: -505px;
    background-position-y: -252px;
}
/*pared seis*/
.f{
    position: relative;
    height: 84px;
    width: 84px;
    background-image: url("../imagenes/tanque.png");
    background-repeat: no-repeat;
    background-position-x: -587px;
    background-position-y: -252px;
}
/*Piso*/
.p{
    position: relative;
    height: 84px;
    width: 84px;
    background-image: url("../imagenes/tanque.png");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
}
/*Tanque*/
.t{
    height: 84px;
    width: 84px;
    background-image: url("../imagenes/tanque.png");
    background-repeat: no-repeat;
    background-position-x: -84px;
    background-position-y: -84px;
    z-index: 1;
    position: absolute;
    left: 168px;
    top: 168px;
}
.tr{
    height: 84px;
    width: 84px;
    background-image: url("../imagenes/tanque.png");
    background-repeat: no-repeat;
    background-position-x: -84px;
    background-position-y: -84px;
    z-index: 1;
    position: absolute;
    left: 168px;
    top: 168px;
}