/* Elementos de margenes y rellenos por fuera del cuadro de inicio sesion */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* El tamaño de los elementos incluye el padding y el border */
    font-family: Arial, sans-serif; /* Usa una fuente comun */
}

body {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    height: 100vh; /* Ocupa toda la altura de la ventana de la pagina */
    background-color: #919191; /* Fondo gris claro para la página */
}

.login-container {
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    padding: 40px; /* Espacio interno alrededor del contenido */
    border-radius: 8px; /* Bordes redondos para el contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave para dar un efecto de elevación o 3D como le diga */
    width: 300px; /* Ancho del contenedor */
    text-align: center; /* Centra el texto en el contenedor */
}

/* Estilo para el título del formulario */
h1 {
    margin-bottom: 20px; /* Espacio debajo del título */
}

/* Estilos para el formulario en general */
form {
    display: flex; /* Usa flexbox dentro del formulario para las filas o columnas */
    flex-direction: column; /* Alinea los elementos del formulario verticalmente */
}

/* Estilo para las etiquetas de los campos para iniciar sesion */
label {
    margin-bottom: 5px; /* Espacio debajo de cada etiqueta */
    text-align: left; /* Alinea el texto de la etiqueta a la izquierda */
}

/* Estilo para los campos de entrada de texto y contraseña */
input {
    margin-bottom: 15px; /* Espacio debajo de cada campo o box de entrada */
    padding: 10px; /* Espacio interno dentro del campo o box */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondos */
    font-size: 16px; /* Tamaño de fuente para el texto dentro del campo o box */
}

/* Estilo para el botón de enviar */
button {
    padding: 8px; /* Espacio interno dentro del botón */
    background-color: #7110c0; /* Color de fondo azul */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 4px; /* Bordes redondeados para el botón */
    cursor: pointer; /* Cambia el cursor a un puntero al pasar sobre el botón */
    font-size: 16px; /* Tamaño de fuente para el texto dentro del botón */
}

/* Estilo para el botón cuando el cursor pasa sobre él (hover) */
button:hover {
    background-color: #ae00ff; /* Cambia el color del botón a un morado claro cuando el usuario pasa el cursor sobre él */
}
