/* General */
body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 45%, 78%);
    color: hsl(315, 59%, 55%);
    margin: 0;
    padding: 0;
}

h1, h3 {
    color: hsl(0, 0%, 5%);
}

.container {
    margin-top: 20px;
    padding: 15px;
}

/* Estilo para la Tarjeta de Login */
.card {
    border-radius: 8px;
    box-shadow: rgb(138, 17, 37);
}

.card-body {
    padding: 30px;
}

.card h3 {
    color: hsl(314, 48%, 58%);
    font-weight: bold;
}

/* Estilo para el Formulario */
.form-label {
    font-weight: bold;
    color: hsl(228, 56%, 37%);
}

.form-text {
    font-size: 0.9em;
    color: hsl(0, 97%, 86%);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Navbar */
.navbar {
    background-color: #93c0ed;
}

.navbar .navbar-brand, .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar .navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #cccccc;
}

/* Imagen */
.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;

}

/* Footer */
footer {
    background-color: #f0e9e9;
    color: #f1f1f1;
    padding: 40px 0;
}

footer h5 {
    font-size: 1.2em;
    font-weight: bold;
}

footer p {
    color: #bbbbbb;
    font-size: 0.9em;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    color: #0056b3;
}

/* Ajustes de Margen */
.my-5 {
    margin: 3rem 0;
}

/* Estilo Extra */
.text-center {
    text-align: center;
}
